link(rel="import" href="bower_components/polymer/polymer.html")

dom-module(id="custom-element")
    style.
        :host{display:block;width:400px;height:400px;background:var(--my-custom-color,blue);}
    template
        span This element should have RED background, not BLUE.
    script.
        Polymer({is:"custom-element"})
