doctype html
html
    head
        title Polymer Issue #1297
        script(src="bower_components/webcomponentsjs/webcomponents-lite.min.js")
        style(is="custom-style").
            :root{--my-custom-color:#F00}
        link(rel="import" href="custom-element.html")
    body
        custom-element
