doctype
html
    head
        meta(charset="UTF-8")
        link(rel="stylesheet" href="index.css")
    body
        div(id="container")
            div(id="first").blocks
            div.h2.blocks 2
            div.h1.blocks 3
            div.h2.blocks 4
            div.h3.blocks 5
            div.h2.blocks 6
            div.h1.blocks 7
            div.h1.blocks 8
            div.h1.blocks 9
            div.h3.blocks 10
            div.h2.blocks 11
            div.h2.blocks 12
            div.h1.blocks 13
            div.h1.blocks 14
        script(type="text/javascript" src="../bower_components/Resizer/src/Resizer.js")
        script(type="text/javascript" src="../src/Perffect.js")
        script(type="text/javascript" src="index.js")
